


/*Colors*/
$primary: #F15A29 !default; 
$secondary: #005bbe !default;
$content: #637784;
$black: #000;
$white: white;
$transparent: transparent;

$font-color: #1b1b1b;

   


/*Fonts*/
$main-font: 'poppins', sans-serif;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

